In [1]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv("breast cancer.csv")

In [19]:
df.head()

,Id,Clump,U of Cell Size,U of Cell Shape,Marginal Adhesion,SE Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Cancer Class
0,1000025,1.0,1,1,NaN,2,1,3,1,1,2
1,1002945,5.0,1,1,5.0,7,10,3,2,1,2
2,1015425,NaN,1,1,NaN,2,2,3,1,1,2
3,1016277,6.0,8,8,1.0,3,4,3,7,1,2
4,1017023,4.0,1,1,3.0,2,1,3,1,1,2

In [21]:
print (df.isnull().sum())

Id                   0
Clump                5
U of Cell Size       0
U of Cell Shape      0
Marginal Adhesion    7
SE Cell Size         0
Bare Nuclei          0
Bland Chromatin      0
Normal Nucleoli      0
Mitoses              0
Cancer Class         0
dtype: int64

In [22]:
df[['Clump','Marginal Adhesion']]

     Clump  Marginal Adhesion
0      1.0                NaN
1      5.0                5.0
2      NaN                NaN
3      6.0                1.0
4      4.0                3.0
5      NaN                8.0
6      1.0                1.0
7      NaN                1.0
8      2.0                1.0
9      4.0                1.0
10     1.0                1.0
11     2.0                1.0
12     5.0                3.0
13     1.0                1.0
14     8.0                NaN
15     7.0                4.0
16     4.0                1.0
17     4.0                1.0
18    10.0                6.0
19     6.0                1.0
20     7.0               10.0
21    10.0                3.0
22     3.0                1.0
23     8.0                1.0
24     1.0                1.0
25     5.0                4.0
26     3.0                1.0
27     5.0                1.0
28     2.0                1.0
29     1.0                1.0
..     ...                ...
669    5.0                8.0
670    3.0                8.0
671    3.0                2.0
672    2.0                1.0
673    5.0                1.0
674    1.0                1.0
675    4.0                1.0
676    1.0                1.0
677    5.0                1.0
678    1.0                1.0
679    2.0                1.0
680   10.0               10.0
681    5.0               10.0
682    5.0                1.0
683    1.0                1.0
684    1.0                1.0
685    1.0                1.0
686    1.0                1.0
687    3.0                1.0
688    4.0                1.0
689    1.0                1.0
690    1.0                3.0
691    5.0                5.0
692    3.0                NaN
693    3.0                1.0
694    3.0                1.0
695    NaN                1.0
696    5.0                NaN
697    4.0                4.0
698    4.0                5.0

[699 rows x 2 columns]

In [23]:
print (df[['Clump','Marginal Adhesion']].isnull())

     Clump  Marginal Adhesion
0    False               True
1    False              False
2     True               True
3    False              False
4    False              False
5     True              False
6    False              False
7     True              False
8    False              False
9    False              False
10   False              False
11   False              False
12   False              False
13   False              False
14   False               True
15   False              False
16   False              False
17   False              False
18   False              False
19   False              False
20   False              False
21   False              False
22   False              False
23   False              False
24   False              False
25   False              False
26   False              False
27   False              False
28   False              False
29   False              False
..     ...                ...
669  False              False
670  False              False
671  False              False
672  False              False
673  False              False
674  False              False
675  False              False
676  False              False
677  False              False
678  False              False
679  False              False
680  False              False
681  False              False
682  False              False
683  False              False
684  False              False
685  False              False
686  False              False
687  False              False
688  False              False
689  False              False
690  False              False
691  False              False
692  False               True
693  False              False
694  False              False
695   True              False
696  False               True
697  False              False
698  False              False

[699 rows x 2 columns]

In [24]:
freq_mean = df['Clump'].mean()
print (freq_mean)
df['Clump'].fillna(freq_mean, inplace=True)

4.410662824207493

In [25]:
chord_mean = df['Marginal Adhesion'].mean()
print (chord_mean)
df['Marginal Adhesion'].fillna(chord_mean, inplace=True)

2.802023121387283

In [27]:
df[['Clump','Marginal Adhesion']]

         Clump  Marginal Adhesion
0     1.000000           2.802023
1     5.000000           5.000000
2     4.410663           2.802023
3     6.000000           1.000000
4     4.000000           3.000000
5     4.410663           8.000000
6     1.000000           1.000000
7     4.410663           1.000000
8     2.000000           1.000000
9     4.000000           1.000000
10    1.000000           1.000000
11    2.000000           1.000000
12    5.000000           3.000000
13    1.000000           1.000000
14    8.000000           2.802023
15    7.000000           4.000000
16    4.000000           1.000000
17    4.000000           1.000000
18   10.000000           6.000000
19    6.000000           1.000000
20    7.000000          10.000000
21   10.000000           3.000000
22    3.000000           1.000000
23    8.000000           1.000000
24    1.000000           1.000000
25    5.000000           4.000000
26    3.000000           1.000000
27    5.000000           1.000000
28    2.000000           1.000000
29    1.000000           1.000000
..         ...                ...
669   5.000000           8.000000
670   3.000000           8.000000
671   3.000000           2.000000
672   2.000000           1.000000
673   5.000000           1.000000
674   1.000000           1.000000
675   4.000000           1.000000
676   1.000000           1.000000
677   5.000000           1.000000
678   1.000000           1.000000
679   2.000000           1.000000
680  10.000000          10.000000
681   5.000000          10.000000
682   5.000000           1.000000
683   1.000000           1.000000
684   1.000000           1.000000
685   1.000000           1.000000
686   1.000000           1.000000
687   3.000000           1.000000
688   4.000000           1.000000
689   1.000000           1.000000
690   1.000000           3.000000
691   5.000000           5.000000
692   3.000000           2.802023
693   3.000000           1.000000
694   3.000000           1.000000
695   4.410663           1.000000
696   5.000000           2.802023
697   4.000000           4.000000
698   4.000000           5.000000

[699 rows x 2 columns]

In [28]:
print (df.isnull().sum())

Id                   0
Clump                0
U of Cell Size       0
U of Cell Shape      0
Marginal Adhesion    0
SE Cell Size         0
Bare Nuclei          0
Bland Chromatin      0
Normal Nucleoli      0
Mitoses              0
Cancer Class         0
dtype: int64

In [29]:
df.to_csv('breast cancer updated.csv', sep=',')