# DATAFRAME

In [ ]:
# Series mn sirf 1 hi column hta tha
# dataframe mn multiple columns show krskty hain
# if we merge 2 series then it will be converted into a DataFrame
# vids mn jo slides show kr rha hai woh bhi prhlna

In [1]:
# New function Dataframe()
# merging 2 series to form dataframe

import pandas as pd
import numpy as np

apples = pd.Series([10,20,30,40])
oranges = pd.Series([50,60,70,80])

#print (apples,'\n',oranges)

# we are saving our series in Dictionary first, giving each column their name
data = {'apples': apples, 'oranges': oranges}
our_df = pd.DataFrame(data)
print(our_df)

   apples  oranges
0      10       50
1      20       60
2      30       70
3      40       80

In [3]:
# Dictionary k ander List bnae then usko DataFrame mn change krdea
# alag sey list bnakr bhi kr skty hu

#city = ['Karachi', 'Lahore', 'Islamabad', 'Hyderabad']

data1 = {#'city': city,
         'city': ['Karachi', 'Lahore', 'Islamabad', 'Hyderabad'],
         'code': [11, 22, 33, 44],
         'province': ['Sindh', 'Punjab', 'Punjab', 'Sindh']}

our_df1 = pd.DataFrame(data1)
print (our_df1)

        city  code province
0    Karachi    11    Sindh
1     Lahore    22   Punjab
2  Islamabad    33   Punjab
3  Hyderabad    44    Sindh

In [4]:
# how to give index names to dataframes
# jtni rows hain utne hi indexes dena lazmi hai wrna error ajaega

our_df2 = pd.DataFrame (data1, index = ['1st', '2nd', '3rd', '4th'])
print (our_df2)

          city  code province
1st    Karachi    11    Sindh
2nd     Lahore    22   Punjab
3rd  Islamabad    33   Punjab
4th  Hyderabad    44    Sindh

In [5]:
# agr apka data bht ziada hai and top 5 rows print krni hai sirf 
# new Function head()

print (our_df2.head())

          city  code province
1st    Karachi    11    Sindh
2nd     Lahore    22   Punjab
3rd  Islamabad    33   Punjab
4th  Hyderabad    44    Sindh

In [8]:
# columns ki arrangement bhi change krskty hain

data2 = {'city': ['Karachi', 'Lahore', 'Islamabad', 'Hyderabad'],
         'code': [11, 22, 33, 44],
         'province': ['Sindh', 'Punjab', 'Punjab', 'Sindh']}

our_df3 = pd.DataFrame(data2, columns = ['code', 'province', 'city'])
print (our_df3)

   code province       city
0    11    Sindh    Karachi
1    22   Punjab     Lahore
2    33   Punjab  Islamabad
3    44    Sindh  Hyderabad

In [5]:
# how to add an empty column

our_df4 = pd.DataFrame(data2, index = ['1st', '2nd', '3rd', '4th'], columns = ['code', 'province', 'city', 'country'])
print (our_df4)

     code province       city country
1st    11    Sindh    Karachi     NaN
2nd    22   Punjab     Lahore     NaN
3rd    33   Punjab  Islamabad     NaN
4th    44    Sindh  Hyderabad     NaN

In [49]:
# how to print the names of columns and index
print(our_df4.columns)
print(our_df4.index)

Index(['code', 'province', 'city', 'country'], dtype='object')
Index(['1st', '2nd', '3rd', '4th'], dtype='object')

# Retrieving Data from DataFrame
## dictionary ki tarah krskty hain ya attribute ki tarah

In [56]:
# Retrieve Column of DataFrame using Dictionary like notation
print (our_df4['city'])

print()

# Retieve Column of DataFrame using Attribute like style
print (our_df4.city)

1st      Karachi
2nd       Lahore
3rd    Islamabad
4th    Hyderabad
Name: city, dtype: object

1st      Karachi
2nd       Lahore
3rd    Islamabad
4th    Hyderabad
Name: city, dtype: object

In [6]:
data3 = {'city': ['Karachi', 'Lahore', 'Islamabad', 'Hyderabad'],
         'code': [11, 22, 33, 44],
         'province': ['Sindh', 'Punjab', 'Punjab', 'Sindh']}
our_df5 = pd.DataFrame(data3, index = ['1st', '2nd', '3rd', '4th'])
print (our_df5)

print ()

# Retrieving Data row wise using our given Index names
# new command loc[] , location full form
print (our_df5.loc['3rd'])

print ()

# Retrieving Data row wise using computer given Index number, index number starts with 0
our_df6 = pd.DataFrame(data3)
print (our_df6.loc[1])

          city  code province
1st    Karachi    11    Sindh
2nd     Lahore    22   Punjab
3rd  Islamabad    33   Punjab
4th  Hyderabad    44    Sindh

city        Islamabad
code               33
province       Punjab
Name: 3rd, dtype: object

city        Lahore
code            22
province    Punjab
Name: 1, dtype: object

In [24]:
# start from 22
# creating dict, adding it to dataframe, adding an extra column through dataframe (values of that column will be NaN)

data4 = {'city': ['Karachi', 'Lahore', 'Islamabad', 'Hyderabad'],
         'code': [11, 22, 33, 44],
         'province': ['Sindh', 'Punjab', 'Punjab', 'Sindh']}
our_df6 = pd.DataFrame(data4, columns = ['city', 'code', 'province', 'extra_c'] , index = ['1st', '2nd', '3rd', '4th'])
print (our_df6)

# adding values to that column (NaN column)

# through range (ksi bhi column pr apply hjaega)
rng = np.arange(4)
print (rng)
our_df6 ['extra_c'] = rng
print (our_df6)

#through length of our dataframe ((ksi bhi column pr apply hjaega))
ln = len(our_df6)
our_df6 ['extra_c'] = ln
print (our_df6)

our_df6 ['extra_c'] = 'rng'
print (our_df6)

#creating series and adding that to column (index name jo hai DataFrame k same naam dalna zarori hai) ((ksi bhi column pr apply hjaega))
a = pd.Series([100,200,300,400], index = ['1st','2nd','3rd','4th'])
our_df6 ['extra_d'] = a
print (our_df6)

# dataframe k column mn list,numpy array, single value, string, pd.Series( indez names should be same)

          city  code province extra_c
1st    Karachi    11    Sindh     NaN
2nd     Lahore    22   Punjab     NaN
3rd  Islamabad    33   Punjab     NaN
4th  Hyderabad    44    Sindh     NaN
[0 1 2 3]
          city  code province  extra_c
1st    Karachi    11    Sindh        0
2nd     Lahore    22   Punjab        1
3rd  Islamabad    33   Punjab        2
4th  Hyderabad    44    Sindh        3
          city  code province  extra_c
1st    Karachi    11    Sindh        4
2nd     Lahore    22   Punjab        4
3rd  Islamabad    33   Punjab        4
4th  Hyderabad    44    Sindh        4
          city  code province extra_c
1st    Karachi    11    Sindh     rng
2nd     Lahore    22   Punjab     rng
3rd  Islamabad    33   Punjab     rng
4th  Hyderabad    44    Sindh     rng
          city  code province extra_c  extra_d
1st    Karachi    11    Sindh     rng      100
2nd     Lahore    22   Punjab     rng      200
3rd  Islamabad    33   Punjab     rng      300
4th  Hyderabad    44    Sindh     rng      400