In [2]:
# pandas ki library import krwae
# then aik series bnae jo k tabular form hai
#khayal rkhu Series start with capital S
import pandas as pd
obj = pd.Series([1,5,11,2,-6])
print (obj)

0     1
1     5
2    11
3     2
4    -6
dtype: int64

In [3]:
#pandas series and has two things
# values (0,1,2,3,4) khudi assign hgya and index (1,5,11,2,-6) series sey enter kra

In [9]:
sales = pd.Series([100,200,300,400])
#values and index ki example, khayal rkhu s bhi ata hai end mm
print ("values:",sales.values)
print ("index:",sales.index)

values: [100 200 300 400]
index: RangeIndex(start=0, stop=4, step=1)

In [12]:
# hum index khud sey bhi assign krskty hain (numerical or text form)
# dtype = object (it means k jb bhi koi complex data type dkhti hai tu usko object k naam dedeta hai)
sales2 = pd.Series([11,22,33,44], index = ['a', 'b', 'c', 'd'])
print (sales2)
print (sales2.index)

a    11
b    22
c    33
d    44
dtype: int64
Index(['a', 'b', 'c', 'd'], dtype='object')

In [13]:
# how to name your table
sales3 = pd.Series ([3,5,67,24], index = ['a', 'b', 'c', 'd'], name = "FOUR MONTHS SALE")
print (sales3)

a     3
b     5
c    67
d    24
Name: FOUR MONTHS SALE, dtype: int64

In [4]:
# Tasks (canteen k 7 days k data store kru k ktne sandwiches sales huey)
canteen = pd.Series ([10,12,15,9,2,40,7], index = ['Mon', 'Teus', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sund'], name = 'Sandwiches sales')
print (canteen)

Mon      10
Teus     12
Wed      15
Thurs     9
Fri       2
Sat      40
Sund      7
Name: Sandwiches sales, dtype: int64

In [34]:
# how to access elements stored in series
# index 0 sey start hta hai
#learn types of error in deep, khudse
# sirf uski value show kr rha hai without index name
print ("through index location no. = ", canteen[6] , '\n\n')

#how to access data with index name
print ("through index name that we have given = ", canteen['Sat'])

through index location no. =  7


through index name that we have given =  40

In [35]:
# how to access multiple values
# kiun k pandas aik single value print krwaskta hai tu hmn as a list leni hngi values (isko array notation bolte hain)
# like [3,5] aik list hai, to as a single value jarhi hai tu as a single value consider hrhi hai
# value + index name show kr rha hai
print ('by using location number: ', canteen[   [3,5]   ], '\n\n')

#OR

print ('by using index name: ',canteen [   ['Thurs', 'Sat']   ])

by using location number:  Thurs     9
Sat      40
Name: Sandwiches sales, dtype: int64


by using index name:  Thurs     9
Sat      40
Name: Sandwiches sales, dtype: int64

In [6]:
# conditional selection
# means k greater then, less then bhi lgaskty hain

print ("GREATER: ", canteen[  canteen > 10   ], '\n')
print ("LESS: ", canteen[  canteen < 10   ], '\n')
print ("EQUAL: ", canteen[  canteen == 12   ], '\n')

GREATER:  Teus    12
Wed     15
Sat     40
Name: Sandwiches sales, dtype: int64

LESS:  Thurs    9
Fri      2
Sund     7
Name: Sandwiches sales, dtype: int64

EQUAL:  Teus    12
Name: Sandwiches sales, dtype: int64

In [49]:
# canteen mn change nhn aaega, sirf is command mn change aaya hai
canteen * 2
print('koi change nhn aya: \n', canteen, '\n\n')

# canteen mn change lane k liey we have to store it in canteen variable again

canteen = canteen * 2
print ('change agya: \n', canteen)

koi change nhn aya:
 Mon      10
Teus     12
Wed      15
Thurs     9
Fri       2
Sat      40
Sund      7
Name: Sandwiches sales, dtype: int64


change agya:
 Mon      20
Teus     24
Wed      30
Thurs    18
Fri       4
Sat      80
Sund     14
Name: Sandwiches sales, dtype: int64

In [50]:
# divide
#check one thing k datatype hmara float mn change hgya
canteen = canteen / 2
print (canteen)

Mon      10.0
Teus     12.0
Wed      15.0
Thurs     9.0
Fri       2.0
Sat      40.0
Sund      7.0
Name: Sandwiches sales, dtype: float64

In [53]:
# how to check if an index exist in series or not
print ('Mon' in canteen)

True

In [82]:
# numpy array k data ko pandas mn kese use krte hain

import numpy as np

val = np.array (  [10,20,30,40]  )
ind = np.array (  ['a', 'b', 'c', 'd'])
print ('Numpy k array : ', val , ind)

#converting it into pandas series

ab = pd.Series (val, index=ind  )
print ('\n\nSeries mn converted:  \n', ab)

Numpy k array :  [10 20 30 40] ['a' 'b' 'c' 'd']


Series mn converted:
 a    10
b    20
c    30
d    40
dtype: int32

In [74]:
# dictionary sey bhi data utha kr laskty hain
#NOTE: dict ki values and index automatically pandas ki index values mn change hjaengi
tax = {'Talha': 20000, 'Rafay': 30000}

#saving it in pandas
tax2 = pd.Series (tax)
print (tax2)

# index ko agr agey peche bhi krdn pandas mn tu values same hi rhti hain
tax3 = pd.Series (tax, index = ['Rafay', 'Talha'])
print('\n\n Index ko agey peche krdea: \n', tax3)

Talha    20000
Rafay    30000
dtype: int64


 Index ko agey peche krdea:
 Rafay    30000
Talha    20000
dtype: int64

# Pandas ki Series mn LIST, DICT, Numpy Array mn sey input askta hai

In [93]:
# how to check if the value column has null values
# can only happen if the index and value are inputted from dictionary
#there is a difference between empty string and NaN, empty string (uske ander koi value hai buss 0 hai), NaN (value exist hi nhn krti)
salary = {'Talha': 20000, 'Rafay': 30000}

monthly_salary = pd.Series (salary, index = ['Talha', 'Rafay', 'Ahsan'])
print(monthly_salary, '\n\n')

#checking
# NEW FUNCTION isnull() to check the null values, it returns boolean
# 2 ways to perform it

#1st way
print (pd.isnull(monthly_salary)) #this is a funtion

print('\n')

#2nd way
print(monthly_salary.isnull()) #this is a method

Talha    20000.0
Rafay    30000.0
Ahsan        NaN
dtype: float64


Talha    False
Rafay    False
Ahsan     True
dtype: bool


Talha    False
Rafay    False
Ahsan     True
dtype: bool

In [9]:
# how to name the value and index column

a = pd.Series([10,20,30,40])
a.name = "values column"
print (a)

print('/n')

a.index.name = "index"
print (a)

0    10
1    20
2    30
3    40
Name: values column, dtype: int64
/n
index
0    10
1    20
2    30
3    40
Name: values column, dtype: int64

In [99]:
# index assign krne k 2nd method
b = pd.Series([10,20,30,40], index= ['aa', 'bb', 'cc', 'dd'])
print (b, '\n\n')

b.index = ['zz', 'yy', 'xx', 'vv']

print (b, '\n\n')

aa    10
bb    20
cc    30
dd    40
dtype: int64


zz    10
yy    20
xx    30
vv    40
dtype: int64